In [19]:
import numpy as np
import pandas as pd
from alinea.astk.sun_and_sky import sun_sky_sources

# Ignore warning about depreciated modules
import warnings
warnings.filterwarnings('ignore', category=DeprecationWarning)
warnings.filterwarnings('ignore', category=FutureWarning)

In [58]:
# Inputs
latitude = 13.0  # Latitude in degrees
longitude = -13.0  # Longitude in degrees
start_date = '1996-4-21'  # Date for the calculation
end_date = '1996-4-22'
timezone = 'UTC'  # Timezone
altitude = 0  # Altitude in meters

# Generate a range of times for the specified date
# times = pd.date_range(daydate, freq='H', periods=24, tz=timezone)
times = pd.date_range(start=start_date, end=end_date, freq='D', tz=timezone)
print(times)

trg_astk = []
# for time in times:
    # trg_temp = []
sun, sky = sun_sky_sources(ghi=None, dhi=None, attenuation=None, model='sun_soc',
                dates=None, daydate=times[0], pressure=101325,
                temp_dew=None, longitude=longitude, latitude=latitude,
                altitude=altitude, timezone=timezone, normalisation=None)


print("Sun", sun)
for i in sun:
    print(len(i))
print("Sky", sky)
for i in sky:
    print(len(i))
    # for s in sun[2]:
    #     trg_temp.append(s*0.0864)
    # print(trg_temp)
    # trg_astk.append(trg_temp)

# for 1 m2 :
# 1 W = 1 J/s
# for 1 day : 1 MJ/day = 0.0864 W
#

DatetimeIndex(['1996-04-21 00:00:00+00:00', '1996-04-22 00:00:00+00:00'], dtype='datetime64[ns, UTC]', freq='D')
Sun (array([ 5.05875151, 19.35169373, 33.83666393, 48.39582785, 62.9955449 ,
       77.60615521, 87.5333926 , 73.05544727, 58.44625766, 43.86095695,
       29.32707816, 14.88732897,  0.88976537]), array([ 78.81207441,  81.65648266,  84.12474982,  86.44553007,
        88.9484176 ,  92.99581537, 247.97593836, 268.80445365,
       272.00235084, 274.39953599, 276.75094168, 279.32623376,
       282.36197025]), array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]))
13
13
13
Sky ([90, 26.57, 26.57, 26.57, 26.57, 26.57, 52.62, 52.62, 52.62, 52.62, 52.62, 10.81, 10.81, 10.81, 10.81, 10.81, 69.16, 69.16, 69.16, 69.16, 69.16, 47.41, 47.41, 47.41, 47.41, 47.41, 31.08, 31.08, 31.08, 31.08, 31.08, 31.08, 31.08, 31.08, 31.08, 31.08, 9.23, 9.23, 9.23, 9.23, 9.23, 9.23, 9.23, 9.23, 9.23, 9.23], [180, 0, 72, 144, 216, 288, 36, 108, 180, 252, 324, 36, 108, 180, 252, 324, 0, 72, 144, 216, 288, 0, 72, 144, 216, 288, 23.27, 48.73, 95.27, 120.73, 167.27, 192.73, 239.27, 264.73, 311.27, 336.73, 12.23, 59.77, 84.23, 131.77, 156.23, 203.77, 228.23, 275.77, 300.23, 347.77], array([72.25322668, 19.87322166, 19.87322166, 19.87322166, 19.87322166,
       19.87322166, 51.09428579, 51.09428579, 51.09428579, 51.09428579,
       51.09428579,  4.97225873,  4.97225873,  4.97225873,  4.97225873,
        4.97225873, 65.37841461, 65.37841461, 65.37841461, 65.37841461,
       65.37841461, 45.34527942, 45.34527942, 45.34527942, 45.34527942,
       45.34527942, 25.36464741, 25.36464741, 25.36464741, 25.36464741,
       25.36464741, 25.36464741, 25.36464741, 25.36464741, 25.36464741,
       25.36464741,  4.07829981,  4.07829981,  4.07829981,  4.07829981,
        4.07829981,  4.07829981,  4.07829981,  4.07829981,  4.07829981,
        4.07829981]))
46
46
46

In [53]:
np.sum(sun[2]) * 0.0864

323.53712811531483

In [54]:
np.sum(sky[2]) * 0.0864
# sky integrated a l'echelle de la journee ??

244.2300881483817